a, a:active, a:hover{
    text-decoration: none;
}

.order-button > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 90px;
    border-radius: 20px;
    background-color: #1B7BF6;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    box-shadow: 5px 5px 20px rgba(0,0,0,.25);
}

.background {
    width: 100%;
    height: 1003px;
    left: 0px;
    top: 0px;
}
.transparent-background {
    position: relative;
    top: 0px;
    left: 0px;
    height: 1003px;
}
.background-1 {
    background-image: url("../img/bg_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.background-1 .transparent-background {
    background-color: rgba(255, 255, 255, 0.3);
}
.background-2 {
    background-image: url("../img/bg_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.background-2 .transparent-background {
    background-color: rgba(255, 255, 255, 0.8);
}
.background-3 {
    background-image: url("../img/bg_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.background-3 .transparent-background {
    background-color: rgba(255, 255, 255, 0.3);
}
.background-4 {
    background-image: url("../img/bg_4.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.background-5 {
    position: relative;
    left: 0px;
    top: 0px;
}
.background-1 .order-button {
    position: absolute;
    top: 705px;
    right: 50px;
}
@media (max-width: 600px){
    .background {
        height: 676px;
    }
    .transparent-background {
        height: 676px;
    }
    .background-1 {
        height: 676px;
    }
    .background-2 {
        height: 676px;
    }
    .background-3 {
        height: 700px;
        background-size: contain;
    }
    .background-4 {
        background-size: contain;
        background-repeat: repeat-y;
        height: 2100px;
    }
}
/* ///////////////////////////////////// */
.menu {
    position: relative;
    width: auto;
    height: 50px;
}
#logo {
    position: relative;
    float: left;
    top: 2%;
    left: 5%;
    width: 286px;
    height: 118px;
    background-size: cover;
    background-image: url("../img/logo.png");
}
.menu a {
    position: relative;
    float: right;
    padding-top: 3%;
    right: 5%;
    margin-left: 5%;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.main-text {
    position: relative;
    padding-top: 25%;
    padding-right: 5%;
    font-family: "Roboto", sans-serif;
    font-size: 61px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: right;
    color: black !important;
}
.secondary-text {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    color: #656565;
    text-align: right;
    padding-right: 5%;
    padding-top: 1%;
}
@media (max-width: 600px){
    .menu {
        position: absolute;
        width: auto;
        height: 142px;
    }
    #logo {
        display: flex;
        left: 65%;
        top: 50%;
        width: 182px;
        height: 70px;
        background-size: cover;
        background-image: url("../img/logo.png");
    }
    .menu a {
        left: 340px;
        top: 12px;
        position: absolute;
        float: right;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        line-height: 18px;
        color: #2E2E2E;
    }
    .menu a:last-child {
        left: 270px;
        top: 12px;
    }
    .main-text {
        position: absolute;
        top: 8%;
        left: 20%;
        width: 243px;
        height: 190px;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 37px;
        line-height: 43px;
        text-align: center;
        letter-spacing: 0.03em;
        color: rgba(0, 0, 0, 0.88) !important;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .secondary-text {
        position: absolute;
        width: 315px;
        height: 124px;
        top: 50%;
        left: 14%;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #353535;
    }
    .button1 {
        position: absolute;
        background: #1B7BF6;
        top: 80%;
        left: 30%;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        color: white;
        width: 173px;
        height: 66px;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 22px;
        line-height: 26px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;
    }
}
/* ///////////////////////////////////// */
.hr {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin: 35px 25px;
    align-items: center;
    justify-content: space-between; 
}
.hr > .line {
    flex: 1;
    display: block;
    height: 2px;
    background-color: #1B7BF6;
    border-radius: 10px;
}
.hr > .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 27px;
}
.background-1 + .hr {
    height: 30px;
}
.background-1 + .hr > .text {
    width: 230px;
    height: 30px;
}
@media (max-width: 600px){
    .hr {
        position: relative;
        display: flex;
        margin: 0px 0px;
        align-items: center;
        justify-content: space-between; 
    }
    .hr > .line {
        flex: 1;
        display: block;
        height: 2px;
        background-color: #1B7BF6;
        border-radius: 10px;
    }
    .hr > .text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
    }
    .background-1 + .hr {
        height: 21px;
    }
    .background-1 + .hr > .text {
        width: 233px;
        height: 21px;
    }
}
/* ///////////////////////////////////// */
.background-2 .card {
    top: 10%;
    left: 4%;
    position: relative;
    background-color: white;
    box-shadow: 3px 3px 25px rgba(0,0,0,25);
    border-radius: 15px;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    max-width: 750px;
}
.background-2 .card .header {
    position: relative;
    top: 0;
    left: 0;
    color: #1B7BF6;
    font-size: 30px;
}
.background-2 .card .header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1B7BF6;
}
.background-2 .card .body {
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;    
}
.background-2 .card .body ul {
    list-style-type: disc;
}
.background-2 .card .body .highlighted {
    color: #1B7BF6;
}
.background-2 .card .card-1 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.background-2 .card-2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 20%;
}
.background-2 .card-3 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-left: 40%;
}
.background-2 .button1 {
    position: relative;
    background: #1B7BF6;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    width: 216px;
    height: 61px;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 30px;
    line-height: 35px;
    top: 20%;
    right: 42%;
}
.background-2 + .hr > .text {
    width: 228.42px;
    height: 51.72px;
    text-align: center;
    font-size: 27px;
    line-height: 32px;
}
.background-2 + .hr > .text > span {
    width: 200px;
}
@media (max-width: 1300px) {
    .background-2 .card {
        max-width: 740px;
    }
    .background-2 .card-2 {
        margin-left: 15%;
    }
    .background-2 .card-3 {
        margin-left: 30%;
    }
}
@media (max-width: 1100px) {
    .background-2 .card {
        max-width: 730px;
    }
    .background-2 .card-2 {
        margin-left: 10%;
    }
    .background-2 .card-3 {
        margin-left: 20%;
    }
}
@media (max-width: 900px) {
    .background-2 .card {
        max-width: 720px;
    }
    .background-2 .card-2 {
        margin-left: 5%;
    }
    .background-2 .card-3 {
        margin-left: 10%;
    }
}
@media (max-width: 800px) {
    .background-2 .card {
        top: 5%;
        max-width: 590px;
        margin-bottom: 2%;
    }
    .background-2 .card-2 {
        margin-left: 2%;
        margin-bottom: 3%;
    }
    .background-2 .card-3 {
        margin-left: 6%;
    }
    .background-2 .button1  {
        top: 10%;
        right: 35%;
    }
}
@media (max-width: 600px) {
    .background-2 + .hr > .text {
        width: 200px;
        font-size: 18px;
        line-height: 21px;
    }
    .background-2 .card {
        top: 2%;
        left: 4%;    
        position: relative;
        background-color: white;
        box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 345px;
    }
    .background-2 .card .header {
        position: relative;
        top: 0;
        left: 0;
        color: #1B7BF6;
        font-size: 22px;
        line-height: 26px;
    }
    .background-2 .card .header:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #1B7BF6;
    }
    .background-2 .card .body {
        position: relative;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #000000;    
    }
    .background-2 .card .card-1 {
        display: flex;
        flex-direction: column;
    }
    .background-2 .card-2 {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-left: 0%;
    }
    .background-2 .card-3 {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-left: 0%;
    }
    .background-2 .button1 {
        display: none;
    }
}
/* ///////////////////////////////////// */
.background-3 .order-button {
    position: relative;
    top: 10%;
    left: 5%;
    z-index: 2;
    width: 410px;
    height: 100px;
    background: #1B7BF6;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.background-3 .order-button p {
    display: flex;
    font-family: "Roboto-Bold" , sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: white;
    width: 410px;
    height: 100px;
    text-align: center;
    align-items: center;
}
.background-3 .order-secondary-button {
    position: relative;
    float: right;
    /* top: 20%; */
    right: 5%;
    z-index: 2;
    width: 500px;
    height: 100px;
    background: #FFFFFF;
    border: 2px solid #1B7BF6;
    box-sizing: border-box;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.background-3 .order-secondary-button p {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    line-height: 33px;
    width: 500px;
    height: 100px;
    align-items: center;
    text-align: center;
    color: #333333;
    
}
em {
    font-style: italic;
    color: #1B7BF6;
}
.background-3 .table {
    position: relative;
    top: 50px;
    margin: 0 170px;
    width: auto;
    height: 700px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
    border: 3px solid #1B7BF6;
    background-color: white;
    z-index: 1;
}
.background-3 table {
    font-family: "Roboto", sans-serif;
    line-height: 138.2%;
    letter-spacing: 0.08em;
    font-size: 18px;
    margin-top: 60px;
    margin-left: 45px;
    /* margin-right: 10px; */
    text-align: center;
    color: black;
}
.background-3 table th:first-child, th:last-child{
    color: #1B7BF6;
}
.background-3 table td:first-child, td:last-child{
    color: #1B7BF6;
}
.background-3 table th{
    height: 40px;
    width: 140px;
    border-bottom: 3px solid #1B7BF6;
}
.background-3 table th:first-child {
    width: 100px;
}
.background-3 table td {
    height: 60px;
    width: 140px;
}
.background-3 table td:first-child {
    width: 100px;
}
.background-3 table .domen {
    color: #656565;
}
.background-3 .button1 {
    position: relative;
    background: #1B7BF6;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    width: 216px;
    height: 61px;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 30px;
    line-height: 35px;
    top: 10%;
    right: 10%;
}
.background-3 + .hr > .text {
    width: 250px;
    height: 50px;
    text-align: center;
}
.background-3 + .hr > .text > span {
    width: 150px;
}
@media (max-width: 1100px) {
    .background-3 .table {
        margin: 0px 50px;
    }
    .background-3 .button1 {
        left: 8%;
        top: 12%;
    }
}
@media (max-width: 780px) {
    .background-3 .table {
        margin: 0px 20px;
    }
    .background-3 .button1 {
        left: 30%;
        top: 12%;
    }
}
@media (max-width: 750px) {
    .background-3 .table {
        margin: 0px 10px;
    }
    .background-3 .button1 {
        left: 30%;
        top: 12%;
    }
}
@media (max-width: 700px) {
    .background-3 .table {
        margin: 0px 5px;
    }
    .background-3 .button1 {
        left: -35%;
        top: 5%;
    }
}
@media (max-width: 600px) {
    .background-3 + .hr > .text {
        width: 200px;
        height: 90px;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
    .background-3 + .hr > .text > span {
        width: 150px;
    }
    .background-3 .order-button {
        position: absolute;
        top: 5%;
        width: 132px;
        height: 37px;
    }
    .background-3 .order-button p {
        position: absolute;
        width: 132px;
        height: 10px;
        font-family: "Roboto-Bold" , Condensed;
        font-style: normal;
        font-size: 15px;
        line-height: 18px;
        align-items: center;
        text-align: center;
        
        color: #FFFFFF;
    }
    .background-3 .order-secondary-button {
        position: absolute;
        top: 5%;
        width: 149px;
        height: 43px;
        background: #FFFFFF;
        border: 2px solid #1B7BF6;
        box-sizing: border-box;
        box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .background-3 .order-secondary-button p {
        margin: 3px 0px;
        width: 149px;
        height: 15px;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        line-height: 18px;
        align-items: center;
        text-align: center;
        color: #333333;
        
    }
    em {
        font-style: italic;
        color: #1B7BF6;
    }
    .background-3 .table {
        position: relative;
        height: 580px;
        margin-left: 2%;
        margin-right: 2%;
        top: 7%;
        overflow-x: scroll;
        border-radius: 10px;
        box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
        border: 3px solid #1B7BF6;
        background-color: white;
        /* z-index: 1; */
    }
    .background-3 table {
        font-family: "Roboto", sans-serif;
        letter-spacing: 0.08em;
        font-size: 15px;
        line-height: 138.2%;
        margin-top: 8%;
        margin-left: 3%;
        text-align: center;
        color: black;
    }
    .background-3 table th{
        height: 40px;
        width: 200px;
        border-bottom: 3px solid #1B7BF6;
    }
    .background-3 .button1 {
        position: relative;
        background: #1B7BF6;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        color: white;
        width: 216px;
        height: 61px;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 22px;
        line-height: 26px;
        float: left;
        top: 10%;
        right: 0%;
        left: 25%;
    }
}
/* ///////////////////////////////////// */
.background-4 .container {
    font-family: "Roboto", sans-serif;
    display: grid;
    justify-content: space-between;
    grid-gap: 10px;
    padding-top: 15%;
    padding-left: 4%;
    float: left;
}
.background-4 .container > div {
    background: #1B7BF6;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
}
.background-4 .container .card {
    /* display: flex; */
    flex-direction: column;
    color: #FFFFFF;
    width: 298px;
    height: 477px;
}
.background-4 .container .card .header {
    width: 298px;
    height: 80px;
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}
.background-4 .container .card .body {
    width: 298px;
    height: 401px;
    background: #FFFFFF;
    border: 2px solid #1B7BF6;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 24px;
    color: black;
}
.background-4 .container .card .body .button{
    background: #E5E5E5;
    border: 3px solid #1B7BF6;
    box-sizing: border-box;
    border-radius: 39px;
    position: relative;
    width: 171px;
    height: 82px;
    color: #1B7BF6;
    left: 60px;
    align-items: center;
    text-align: center;
}
.background-4 .container .card-1 {
    display: grid;
    flex-direction: column;
    align-self: flex-start;
}
.background-4 .container .card-2 {
    display: grid;
    flex-direction: column;
    align-self: center;
}
.background-4 .container .card-3 {
    display: grid;
    flex-direction: column;
    align-self: center;
}
.background-4 .container .card-4 {
    display: grid;
    flex-direction: column;
    align-self: flex-end;
}
.background-4 .button1 {
    position: relative;
    background: #1B7BF6;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    width: 216px;
    height: 61px;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 30px;
    line-height: 35px;
    top: 50%;
    left: 15%;
}
.background-4 + .hr > .text {
    width: 380px;
    height: 10px;
    text-align: center;
}
.background-4 + .hr > .text > span {
    width: 280px;
}
@media (max-width: 1420px) {
    .background-4 .container .card {
        width: 298px;
        height: 477px;
        margin-left: 10%;
    }
    .background-4 {
        height: 1510px;
    }
    .background-4 .button1 {
        left: 20%;
    }
}
@media (max-width: 600px) {
    .background-4 .container .card {
        width: 260px;
        height: 380px;
        margin-left: 5%;
    }
    .background-4 .container .card .header {
        width: 260px;
        height: 60px;
        font-size: 22px;
        line-height: 26px;
        background: #333333;
        box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
        border-radius: 15px 15px 0 0 ;
    }
    .background-4 .container .card .body {
        width: 260px;
        height: 320px;
        font-size: 23px;
        line-height: 120.2%;
    }
    .background-4 .container .card .body .button{
        width: 128px;
        height: 41px;
        font-size: 20px;
        line-height: 0px;
        margin-top: -10px;
        margin-left: 1%;
    }
    .background-4 .container .card-1 {
        height: 320px;
    }
    .background-4 .container .card-1 .body {
        height: 260px;
    }
    .background-4 .container .card-1 .body .button {
        margin-top: -65px;
    }
    .background-4 .button1 {
        width: 173px;
        height: 66px;
        font-size: 22px;
        line-height: 26px;
        left: 20%;
    }
    .background-4 + .hr > .text {
        width: 239px;
        height: 50px;
        text-align: center;
        font-size: 18px;
        line-height: 21px;
    }
    .background-4 + .hr > .text > span {
        width: 280px;
    }
}
@media (max-width: 567px) {
    .background-4 {
        height: 2300px;
    }
}
@media (max-width: 500px){
    .background-4 .container .card {
        margin-left: 35%;
    }
    .background-4 .button1 {
        left: 50%;
    }
}
/* ///////////////////////////////////// */
.steps .steps_container{
    max-width: 1400px;
    display: grid;
    grid-template-areas: "side body";
    color: black;
}
.steps .sidebar{
    display: inline-block;
    grid-area: "side";
    width: 70px;
    height: 70px;
    left: 43px;
    top: 81px;
}
.steps .vertical-line{
    position: relative;
    border-left: 7px solid #1B7BF6;
    height: 255px;
    min-height: 20vh;
    width: 7px;
    left: 65px;
    top:80px;
}
.steps p{
    left:43px;
    top: 81px;
    width: 8px;
    border-radius: 100px;
    padding: 15px 20px;
    position: relative;
    right: 20px;
    background-color: #1B7BF6;
    font-weight: bold;
    color: white;
}
.steps .steps-body{
    display: inline-block;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}
.contentBox {
    display: flex;
}
.steps .image img{
    background-size: cover;
}
.steps .description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.steps .description__title{
    text-transform: uppercase;
    font-family: "Roboto" , sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0.1em;
    color: #1B7BF6;
}
.steps .description__text {
    font-family: "Roboto" , sans-serif;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.1em;
    color: #000000;
}
@media (max-width: 750px) {
    .description__title, .description__text {
        font-size: 18px;
    }
    .image-1 {
        width: 103px;
        height: 139px;
    }
    .image-2 {
        width: 150px;
        height: 150px;
    }
    .image-3 {
        width: 116px;
        height: 129px;
    }
    .image-4 {
        width: 159px;
        height: 163px;
    }
}
/* ///////////////////////////////////// */
.footer {
    display: flex;
    position: relative;
    background: #998C85;
    background-size: cover;
    padding: 15px;
    width: 100%;
}
.footer .footer-container-1 {
    flex: 1;
    margin-right: 40px;
}
.footer .footer-container-1 h2 {
    font-family: "Roboto-Bold" , sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.footer .footer-container-1 p {
    font-family: "Roboto" , sans-serif;
    font-size: 18px;
    line-height: 190%;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.footer .footer-container-2 {
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: center;
}.footer .footer-container-2 h2 {
    font-family: "Roboto-Bold" , sans-serif;
    font-size: 25px;
    line-height: 29px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.footer .footer-container-2 .links-row {
    display: flex;
    padding: 10px 0;
}
.footer .footer-container-2 .links-row a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 15px;
}
.instagram {
    background-image: url("../img/instagram.png");
}
.facebook {
    background-image: url("../img/facebook.png");
}
.telegram {
    background-image: url("../img/telegram.png");
}
.email {
    background-image: url("../img/email.png");
}
@media (max-width: 1200px) {
    .footer .footer-container-1 h2 {
        font-size: 25px;
        line-height: 29px;
    }
    .footer .footer-container-1 p {
        font-size: 18px;
        line-height: 190%;
    }
    .footer .footer-container-2 h2 {
        font-size: 25px;
        line-height: 29px;
        float: right;
    }
}
@media (max-width: 700px) {
    .footer .footer-container-1 h2 {
        font-size: 15px;
        line-height: 18px;
    }
    .footer .footer-container-1 p {
        font-size: 13px;
        line-height: 190%;
    }
    .footer .footer-container-2 h2 {
        font-size: 15px;
        line-height: 18px;
    }
}
@media (max-width: 380px) {
    #logo {
        display: flex;
        left: 60%;
        top: 50%;
    }
    .menu a {
        left: 300px;
        top: 12px;
    }
    .menu a:last-child {
        left: 220px;
        top: 12px;
    }
    .main-text {
        position: absolute;
        top: 8%;
        left: 20%;
    }
    .secondary-text {
        position: absolute;
        top: 50%;
        left: 10%;
    }
    .background-2 .card {
        top: 2%;
        left: 4%;    
        position: relative;
        background-color: white;
        box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 290px;
    }
    .background-3 .button1 {
        left: 20%;
    }
    .background-4 .container .card {
        margin-left: 15%;
        margin-top: 0%;
    }
    .background-4 .button1 {
        left: 30%;
        margin-bottom: 2%;
    }
    .steps .description {
        left: 50px;
    }
    .steps button {
        left: 100px;
    }
    .steps .steps_body {
        left: 50px;
    }
    .steps .image {
        margin: 0px 0px 100px 0px;
        padding: 0px 0px 50% 0px;
        left: 3%;
    }
    .steps .image1 img{
        width: auto;
        height: 120px;
    }
    .steps .image2 img{
        width: auto;
        height: 90px;
    }
    .steps .image3 img{
        width: auto;
        height: 120px;
    }
    .steps .image4 img{
        width: auto;
        height: 120px;
    }
}