.container{
    max-width: 1300px;
    display: grid;
    grid-template-areas: "side body";
    padding: 0px 260px;
    color: black;

}

.sidebar{
    display: inline-block;
    grid-area: "side";
    margin: 15px 200px;
}

.vertical-line{
    border-left: 7px solid rgba(34, 167, 240, 1);
    height: 15vh;
    min-height: 20vh;
    width: 7px;
}

.contentBox{
    margin-bottom: 30px;
}

p{
    width: 8px;
    border-radius: 100px;
    padding: 15px 20px;
    position: relative;
    right: 20px;
    background-color: rgba(34, 167, 240, 1);
    font-weight: bold;
    color: white;
}

.body{
  display: inline-block;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.image{
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 28% 0px;
    display: inline-block;
    position: relative;
    right:200px;
}

.image img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;

}

.description{
    float: right;
    width: 500px;
}

.description__title{
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(34, 167, 240, 1);
    margin: 30px 0px;

}